######## Default Settings ########

## Network Settings
port="27016"
queryport="27016"

#### LinuxGSM Settings ####

## LinuxGSM Stats
stats="off"

## Notification Alerts
displayip=""
postalert="off"
statusalert="on"

# Discord Alerts
discordalert="on"
discordwebhook="${DISCORD_WEBHOOK}"

## Updating
updateonstart="on"

## Backup
maxbackups="4"
maxbackupdays="30"
stoponbackup="on"
backupdir="/mnt/backups/${USERID}/${GAMEID}/${SERVERID}"

## Logging
consolelogging="on"
logdays="2"
