##################################
######## Default Settings ########
##################################

## Network Settings
ip="0.0.0.0"
port="15636"
queryport="15637"

## LinuxGSM defaults
querymode="1"
querytype="protocol-valve"
consolelogging="on"
maxbackups="4"
maxbackupdays="30"
stoponbackup="on"
